.Box{
    width: 100%;
    height: 100px;
    background-color: indigo;
}
.Box1{
    width: 100%;
    height: 500px;
    background-image: url(img/piza.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
}