* {
    margin: 0px;
    padding: 0px;
   font-family: Open Sans,Regular;
   box-sizing: border-box;
}
body{
    /* background-color: rgb(221, 176, 221); */
    height: 90vh;
}
    .container{
        display: inline-block;
    }
h1{
    display: inline-block;
    font-size:10.8694 pt;
    margin-left: 50px;
    margin-top: 40px;   
    text-align: center;
}

nav{
    
    border-radius: 20px;
    display: inline-block;
    margin-left: 16%;
    margin-top: 30px;
    
}
ul li{
    list-style: none;
    display: inline-block;
   
}
li a{
    display: inline-block;
    padding: 30px;
    /* margin: 5px 10px;     */
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 8.4551 p;
    
   
}
ul li a:hover{
    /* background-color: rgb(75, 4, 71); */
   
}

.btn{
    float: right;
    margin-right: 25%;
}
.btn button{
    font-size: 8.4551 pt;
    margin-top: 48px;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    background-color: #C4C4F7;
    cursor: pointer;    
    outline: rgb(0, 0, 0);
    
}

.content{
    display: block;
}
.text{
    display: inline-block;
    font-size: 40.0339 pt;
    margin-top: 30%;
    margin-left: 10%;
    color: #133B4F  
    
}
.text1{
    display: inline-block;
    font-size: 17.6738 pt;
    margin-left: 35%;
    color: #FCA70C;
    
}
.content{
    display: inline-block;
}

.container2 {
    display: inline-block;
    float: right;
    margin-top: 0%;
    margin-bottom: 40%;
    height: 10%;
 
}

.para{
    display: block;
    background-color:rgb(0, 0, 0);

}


.container2 img {

    width: 400px;
    height: 400px;
}

.container2 {

    max-width: 900px;
    max-height: 400px;
}


