*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

        /************************************* HEADER ******************************/

.header .para-1 {
   
    /* border-bottom: 1px solid black; */
    /* height: 40px; */
    color: sandybrown;
    margin: 20px 90px;
    /* margin-bottom: 30px; */
    font-family: sans-serif;
}

.header .para-1 p{
    margin-left: 20px;
}

.Navigation ul {
    display: flex;
    flex-wrap: wrap;
    background: #898D8E;
   
}

.Navigation li {
        /* padding: 25px; */
        padding: 15px;
}

.Navigation li a {
            padding-left: 40px;
            font-family: sans-serif;
            color: #FCF9F7;
            font-size: 13px;
    }

.imgg{
    /* background-image: url('img/a'); */
    height: 100vh;
    width: 100%;
    opacity: 0.5;
  
}





@media   (max-width: 540px)  {
    .Navigation li a  {
        padding-left: 0px;
        font-size: 12px;
        
    }
}

@media   (max-width:1125px)  {
   .back  {
       /* color: white; */
       /* top: 40%; */
       font-size: 30px;
         /* height: 75vh; */
     }

     .back .para-2{
         /* color: white; */
         left: 0%;
     } 

     .back .para-3{
         top: 95%;
         left: 0%;
     }
 
 }

.para-2{
     font-size: 50px;   
    position: absolute;
    top: 85%;
    /* bottom: 20px; */
    left: 70%;
    color: white;
    font-family: 'Open Sans', sans-serif;
}



.para-3{
     font-size: 23px;   
    position: absolute;
    top: 98%;
    /* bottom: 20px; */
    left: 70%;
    color: #ce6308;
    margin: 16px 46px 16px 46px;
}                                     /************************************* HEADER ******************************/


                /************************************* Section-Container-1  ******************************/

.para-4{
        font-size: 30px;
        margin-top: 13%;
        margin-bottom: 25px;
        text-align: center;
        align-items: center;
        color: #A95E39;
       
        /* margin: auto; */
        /* top: 30%; */
        /* height: 50%; */
        /* margin: 20% 30%; */

}
 hr{
       
    width: 14%;
    position: absolute;
    left: 43%;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #A95E39;

}
.para-5{
    font-size: 18px;
    text-align: center;
    align-items: center;
    margin: 100px 255px 100px 255px;
    font-family: 'Encode Sans SC', sans-serif;
    
}



@media   (max-width: 1024px) {
    .para-4{
         
         margin-top: 26%;
        
     }
     .para-5{
       margin:  30px 30px 30px 30px;
       font-size: 15px;
     }
 }

@media   (max-width: 550px) {
    .para-4{
    
         margin-top: 35%;
        }
 }





@media   (max-width:1085px) and (min-width:200px)  {
     .para-5 {
          
          margin: 10px 30px 10px 30px;
          
      }
  }
                      /************************************* Section-Container-1  ******************************/


  .container-2{
      height: auto;
      
  }



.boxall{
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-around;
    /* align-items: cen; */
}

.boxxs1{
    height: 400px;
    width: 320px;
    border: 2px solid red;
    background-image: url('');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items:flex-start; */
    margin: 6px;
}


.boxxs2{
    height: 400px;
    width: 320px;
    border: 2px solid red;
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items:flex-start; */
    margin: 6px;
}


.boxxs3{
    height: 400px;
    width: 320px;
    border: 2px solid red;
    /* background-image: url('b.jpg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items:flex-start; */
    margin: 6px;
    z-index: -1;
}


.para-6{
    font-family: 'Encode Sans SC', sans-serif;
    font-size: 20px;
    text-align: center;
    /* position: rela   tive; */
    /* top: 420px; */
    margin: 20px;
    /* display: inline-block; */
}

.para-7{
    font-family: 'Encode Sans SC', sans-serif;
    text-align: center;
    font-size: 14px;
    /* position: relative; */
    /* top: 353px; */
    margin: 0px 23px;
   
}
 .container-2{
    /* height: 800px; */
    width: 100%;
}   

.contantt{
        height: 290px;
        background-color:  #1F3138;
        /* margin-bottom: 50px; */
        /* display: flex; */
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        align-items: center;
       
}

 .contant{
    height: 70px;
    /* width: 50px; */
    /* background: honeydew; */
    /* border: 2px solid red; */
    margin: 10px;
  
}

 .contant, .para-math {

    font-size: 45px;
    color: #A95E39;
    font-family: 'Sitka';
}

@media (max-width:540px) {
        .contant, .para-math{
            font-size: 25px;
        }
}

@media (max-width:540px) {
        
        .contant, .para-eng{
            font-size: 9px;
        }
}

 .contant, .para-eng  {
 
    font-size: 12px;
    color: white;
    font-family: sans-serif;
    

}


.container-4{
    margin-top: 30%;
    /* margin-bottom: 10%; */
}


.container-4 img{
    /* margin: 10px; */
    height: 600px;
    width: 100%;
    /* background-image: url('img/e.jpg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    top: 0px;
    left: 0px;
}

    /* Contact Form ****** 
     *********/

.container-5 {
    height: 900px;
    background-color:#041f1b;
}

@media (max-width:390px) {
        
    .container-5 {
        height: 1000px;
    }
}


    .form-group{
        margin: 40px 0px 40px 0px;
    }

    

    .contact-form .form-control{
        line-height: 35px;
    background: none;
    resize: none;
    border: none;
    border-bottom: 1px solid white;
    }
     .text-2  {
       text-align: center;
       font-size: 2.3rem;
       color: white;
        justify-content: center;
       padding: 80px;
   }

    .contact-form form{
        height: 290px;
    }
    .contact-form form .row{
        display: flex;
        justify-content: space-evenly;
        margin: 0px 237px 0px 237px;
    }

    @media (max-width:890px) {
        
        .contact-form form .row{
            /* font-size: 9px; */
            margin: 32px;
        }
}

    @media (max-width: 414px) {
        
        .contact-form form .row{
            display: block;
        
        }
}


    .col-md-6-text{
        margin-left: 31%;
        width: 40%;
    }

    @media (max-width: 666px) {
    
        .form-group-btn{
               
                top: 0%;
                /* left: 31%; */
            }
       
}
    
    .form-group-btn {
        /* width: 10%; */
        display: inline-block;
        border: none;
        position: relative;
        top: 14%;
        left: 57%;
        padding: 13px;
        background: #a35f27;
        font-weight: 600;
        text-align: center;
        color: #fff;
        cursor: pointer;
     
    }

    .form-group-text{
        width: 100%;
        text-align: center;
    }

    .form-group-btn input{
       
        background: none;
        border: none;
        text-align: center;
        align-items: center;
      

    }

    /*********     Section-6 CSS    *********/


    /* .container-6 img{
        height: 400px;
        width: 500px;
    } */

    .container-6{
        /* height: 950px; */
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        /* justify-content: space-evenly; */
       
     
    }



    .content{
        text-align: center;
        padding: 20px 20px;
        font-size: 1.8rem;
        align-items: center;
    }

    .para-11{
        text-align: center;
        margin: 0px 67px;
        font-size: 0.8rem;
    }

     .box-1{
        height: 410px;
        width: 500px;
        /* background-color: rgb(165, 165, 155); */
        /* border: 2px solid red; */
        margin: 10px;
        background-image: url('https://source.unsplash.com/1600x900/?nature,website');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        top: 0;
        left: 0;
    }

     .box-2{
        height: 389px;
        width: 500px;
        /* background-color: yellowgreen; */
        border: 1px solid rgb(216, 214, 214);
    }

    .cicrles{
        display: flex;
        padding: 40px;
        justify-content: space-around;
       
    }

    .cicrle img{
        /* background-image: url('https://source.unsplash.com/1600x900/?nature,water'); */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        top: 0;
        left: 0;
   
        border-radius: 60px;
        height: 70px;
        width: 80px;
    }
                            /************************************* Section-7  ******************************/
    .section-7{
        border-top: 2px solid black;
        height: 800px;
        width: 100%;
    }


    .content-12{
        display: flex;
        justify-content: space-evenly;
    }

    .para-12{
        padding: 5px;
        border: 1px solid black;
        font-size: 12px;
    }
    .para-13{
        padding: 5px;
        border: 1px solid black;
        font-size: 12px;
    }
    .para-14{
        padding: 5px;
        border: 1px solid black;
        font-size: 12px;
    }

                     /************************************* Section-7  ******************************/
 

    .head-h{
        text-align: center;
        font-size: 2.3rem;
        top: 50px;
        margin-top: 40px;
    }

    .p-p{
        margin: 30px 240px 30px 240px;
        text-align: center;
        padding: 30px ;
        font-size: 1.2rem;
    }

    @media   (max-width:1050px) 
     {
        .p-p {
             
             margin: 0px;
             
         }
     }
    #boxs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 20px;
    }

    

    .section-box1 {
        height: 400px;
        width: 330px;
        /* margin: 10px; */
        margin-top: 40px;
        /* background-color: rgb(210, 210, 218); */
        /* border: 2px solid red; */
        background-image: url('https://source.unsplash.com/1600x900/?nature,water');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        top: 0;
        left: 0;
    }
    /* .section-box2{
        background-image: url('https://source.unsplash.com/collection/190727/1600x900');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 400px;
        width: 300px;
        margin: 10px;
        margin-top: 40px;
        background-color: rgb(121, 121, 134);
        border: 2px solid red;
    } 
     .section-box3{
        background-image: url('https://source.unsplash.com/1600x900/?nature,water');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 400px;
        width: 300px;
        margin: 10px;
        margin-top: 40px;
        background-color: rgb(218, 218, 224);
        border: 2px solid red;
    }
    .section-box4{
        background-image: url('https://source.unsplash.com/collection/190727/1600x900');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 400px;
        width: 300px;
        margin: 10px;
        margin-top: 40px;
        background-color: rgb(103, 103, 128);
        border: 2px solid red;
    }  */
    /* .section-box5{
        background-image: url('https://source.unsplash.com/1600x900/?nature,water');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 400px;
        width: 300px;
        margin: 10px;
        margin-top: 40px;
        background-color: rgb(86, 86, 98);
        border: 2px solid red;
    } */


        @media (max-width: 1286px) {
                .section-7{
                    height: auto;
                    
                }
        }


        @media (max-width: 1286px) {
                #boxs {
                    justify-content: center;
                    /* margin: 20px;/ */
                    /* height: 300px;
                    width: 250px; */

                }
        }

        @media (max-width: 1286px) {
               .section-box1{
                    /* justify-content: center; */
                    margin: 20px;
                    height: 250px;
                    width: 220px;

                }
        }






    /************   Footer CSS   ************/

    .foot{
        height: 250px;
        width: 100%;
        background-color: darkslategray;
        display: flex;
    
    }
    .foot-1{
        color: white;
        font-size: 15px;
        padding-left: 30px;

    }

    .foot-1, h5, p{
        padding: 20px 11px 20px 11px;
        text-align: center;

    }

    @media   (max-width:540px) 
     {
        .foot-1, h5, p {
            padding: 0px;
         }
     }

    .lest-footer{
        height: 80px;
        width: 100%;
        background-color: black;
        display: inline-block;
    }

    .lest{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 80px 0px 80px;
        margin-top: 20px;
        
    }

    .lest p{
        /* display: flex; */
        /* justify-content: space-between; */
        color: white;
        /* justify-content: center; */
        /* display: inline-block; */
        /* margin-top: 16px; */
        margin-left: 100px;
    }

    .boxss {
        /* display: flex; */
        /* justify-content: space-between; */
        display: inline-block;
        /* height: 40px;
        width: 30px; */
        margin: 2px;

        background-color: black;
        border: 2px solid white;
    }

    .boxss img {
        height: 28px;
        width: 28px;
        /* color: white; */
        background: black;
    }

    .lest-t{
        /* display: flex; */
        /* padding: 0px 60px 0px 60px; */
        /* margin-: 50%; */
        /* margin-top: 20px; */
        align-items: center;
        /* width: 30%; */
        

    }

    .foot{
        display: none;
    }